{% extends "travel/base.html" %}
{% load static %}
{% block content %}    
    <form method="POST" style="margin-top:100px;"> 
            {% csrf_token %}

            <div class="form-group">
                <img src="{% static 'travel/img/email.png' %}" alt="" class="icons" />
                <input type="email" name="email" class="form-control inputs" placeholder="Email" />
            </div>

            <div class="form-group">
                <img src="{% static 'travel/img/password.png' %}" alt="" class="icons" />
                <input type="password" name="password" class="form-control inputs" placeholder="Password" />
            </div>
    
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>                  
    </form>     


  
    <div class="pt-2">
        <small class="text-muted">Don't have an account? <a href="{% url 'register' %}">Sign up</a></small>
    </div>
{% endblock %}