{% extends "travel/base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}    
    <form method="POST" class="mt-5 pt-5"> 
        {% csrf_token %} 
             
            <div class="input-group">
                <img src="{% static 'travel/img/email.png' %}" class="icons" />
                {{form.email}}
            </div>          

            <div class="input-group"> 
                <img src="{% static 'travel/img/password.png' %}" class="icons" />                
                {{form.password}} 
            </div>              

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>                  
    </form>     


  
    <div class="pt-2">
        <small class="text-muted">Don't have an account? <a href="{% url 'register' %}">Sign up</a></small>
    </div>
{% endblock %}